.row {
  margin: 0; }

.container-divs .about-me {
  background: #9ec3f4;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 3px solid #020202;
  border-radius: 5px; }
  .container-divs .about-me .row {
    padding-top: 20px;
    padding-bottom: 20px; }

.container-divs .info {
  margin-bottom: 5px;
  font-size: 14px;
  color: #000; }

.container-divs .container-img .img-thumbnail {
  border: 2px solid #020202;
  border-radius: 0; }

.container-divs .study-ing {
  background: #9ec2c8;
  border: 3px solid #020202;
  border-radius: 5px; }
  .container-divs .study-ing .row {
    padding-top: 20px;
    padding-bottom: 20px; }

.container-divs .title {
  color: #151a21;
  font-weight: bold; }

.container-divs .container-links {
  margin-top: 3%;
  margin-bottom: 3%; }
